@model WebApplication1.Models.Employee
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@Model.EmpId<br />
@Model.EmpName<br />
@Model.EmpSalary

<form action="~/Employee/Delete/@Model.EmpId" method="post">
    <input type="submit" value="Delete" class="btn btn-success"/>
</form>